#!/usr/bin/make -f

DESTDIR=debian/picoflux

%:
	dh $@ --with=systemd

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	cp picoflux.conf $(DESTDIR)/etc/picoflux.conf
	cp picoflux $(DESTDIR)/usr/bin/picoflux

override_dh_installinit:
	dh_installinit --noscripts
